node_modules
.next
out
.DS_Store
public/samples/*

!public/samples/generated_samples/xtts/7127/gen_7127_0005.wav
!public/samples/generated_samples/valle_v2/7127/gen_7127_0005.wav
!public/samples/generated_samples/yourtts/7127/gen_7127_0005.wav
!public/samples/generated_samples/ground_truth/7127/gen_7127_0005.wav
!public/samples/generated_samples/selectTTS_no_subsmatch/7127/gen_7127_0005.wav
!public/samples/generated_samples/selectTTS_with_subsmatch/7127/gen_7127_0005.wav

!public/samples/generated_samples/xtts/8455/gen_8455_0013.wav
!public/samples/generated_samples/valle_v2/8455/gen_8455_0013.wav
!public/samples/generated_samples/yourtts/8455/gen_8455_0013.wav
!public/samples/generated_samples/ground_truth/8455/gen_8455_0013.wav
!public/samples/generated_samples/selectTTS_no_subsmatch/8455/gen_8455_0013.wav
!public/samples/generated_samples/selectTTS_with_subsmatch/8455/gen_8455_0013.wav

!public/samples/generated_samples/xtts/7176/gen_7176_0019.wav
!public/samples/generated_samples/valle_v2/7176/gen_7176_0019.wav
!public/samples/generated_samples/yourtts/7176/gen_7176_0019.wav
!public/samples/generated_samples/ground_truth/7176/gen_7176_0019.wav
!public/samples/generated_samples/selectTTS_no_subsmatch/7176/gen_7176_0019.wav
!public/samples/generated_samples/selectTTS_with_subsmatch/7176/gen_7176_0019.wav

!public/samples/generated_samples/xtts/4446/gen_4446_0000.wav
!public/samples/generated_samples/valle_v2/4446/gen_4446_0000.wav
!public/samples/generated_samples/yourtts/4446/gen_4446_0000.wav
!public/samples/generated_samples/ground_truth/4446/gen_4446_0000.wav
!public/samples/generated_samples/selectTTS_no_subsmatch/4446/gen_4446_0000.wav
!public/samples/generated_samples/selectTTS_with_subsmatch/4446/gen_4446_0000.wav

!public/samples/generated_samples/xtts/4992/gen_4992_0015.wav
!public/samples/generated_samples/valle_v2/4992/gen_4992_0015.wav
!public/samples/generated_samples/yourtts/4992/gen_4992_0015.wav
!public/samples/generated_samples/ground_truth/4992/gen_4992_0015.wav
!public/samples/generated_samples/selectTTS_no_subsmatch/4992/gen_4992_0015.wav
!public/samples/generated_samples/selectTTS_with_subsmatch/4992/gen_4992_0015.wav

!public/samples/generated_samples/xtts/5142/gen_5142_0002.wav
!public/samples/generated_samples/valle_v2/5142/gen_5142_0002.wav
!public/samples/generated_samples/yourtts/5142/gen_5142_0002.wav
!public/samples/generated_samples/ground_truth/5142/gen_5142_0002.wav
!public/samples/generated_samples/selectTTS_no_subsmatch/5142/gen_5142_0002.wav
!public/samples/generated_samples/selectTTS_with_subsmatch/5142/gen_5142_0002.wav
